-if user_signed_in?
  =link_to "What's new?", new_user_post_path(current_user)
-@posts.each do |post|
  %article{class: "instarails_post", id: "post_id_#{post.id}"}
    %p.time_since_posted Posted #{time_ago_in_words(post.created_at)} ago
    =image_tag post.image.url(:medium)
    %p=post.message
    =link_to "Delete", "/users/#{post.user_id}/posts/#{post.id}", method: :delete
